/* ----------------------------------------------------------- */
/* regra reset. aplica em todas tags possíveis */
/* ----------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%; /* faz o body estender verticalmente */
}

body {
    /* https://cssgradient.io/ */
    background: rgb(132,0,255);
    background: linear-gradient(90deg, rgba(132,0,255,1) 0%, rgba(2,0,36,1) 100%);
    font-family: 'Raleway', sans-serif;
    color: white;
}

.profile {
    margin-top: 20px;
    text-align: center;  
}

.avatar {
    width: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 20px white;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-weight: 100;
    font-size: 24px;
    margin-bottom: 2px;
}

h2 {
    font-size: 16px;
    margin-top: 2px;
}

/* ----------------------------------------------------------- */
/* social com div */
/* ----------------------------------------------------------- */

/* .social img {
    width: 33px;
}

.social a {
    text-decoration: none;
}

.social {
     text-align: center;
} */

/* ----------------------------------------------------------- */
/* social com lista */
/* ----------------------------------------------------------- */

.social {
     display: flex;
     justify-content: space-around;
     list-style: none;
     margin: 20px 0;
}

.social img {
    width: 33px;
}
