body {
    background-image: url(background.jpg);
    /* background-position: 100% 10%;  */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
    color: rgb(15, 29, 121);
}

.foto-perfil {
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(0, 0, 0); /* shorthand */
    /*
    border-color: ;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    */
}
