/* estilizar através da tag. essa regra é aplicada a todas as instâncias da tag. */
body {
    background-color: red;
}

h3 {
    color: white;
}

h2 {
    color: green;
}

/* estilizar através da class. */
.foto-perfil {
    width: 200px;
}

/* estilizar através do id. esse método não é usual. */
#titulo-principal {
    color: yellow;
}
